<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello, Angular!</title>
</head>

<body>
  <app-hello-world [name]="title"></app-hello-world>
  <app-hello-world name="{{ title }}"></app-hello-world>
  <app-hello-world name="Angular"></app-hello-world>
  <app-hello-world></app-hello-world>
  <hr>
  <app-data-entry></app-data-entry>
  <hr>
  <app-lifecycle [historyMaxLength]="14"></app-lifecycle>
  <hr>
  <app-directives></app-directives>
</body>

</html>