<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello, Angular!</title>
</head>

<body>
  <h1>Demos</h1>
  <br>
  <ul>
    <li><a [routerLink]="['']" [routerLinkActive]="['activeRouteLink']" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
    <li><a [routerLink]="['data-binding']" [routerLinkActive]="['activeRouteLink']">Data Binding</a></li>
    <li><a [routerLink]="['input']" [routerLinkActive]="['activeRouteLink']">Input</a></li>
    <li><a [routerLink]="['lifecycle']" [routerLinkActive]="['activeRouteLink']">Lifecycle</a></li>
    <li><a [routerLink]="['directives']" [routerLinkActive]="['activeRouteLink']">Directives</a></li>
  </ul>

  <router-outlet></router-outlet>
</body>

</html>
