/* You can add global styles to this file, and also import other style files */
.columns {
    display: flex;
    justify-content: space-evenly;
}

.activeRouteLink {
  border-bottom: 2px;
  color: red !important;
}
